#nexmoe-background .nexmoe-bg {
  z-index: -2;
}
#nexmoe-background .nexmoe-small {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: -100px;
}
#nexmoe-header .nexmoe-count {
  justify-content: space-between;
  padding: 0 20px;
}
#nexmoe-header .nexmoe-count .nexmoe-count-item {
  flex: none;
  width: 60px;
  padding: 5px 0;
  background-color: #e67249;
  transform: rotate(0deg);
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 2px 12px #e67249;
  position: relative;
}
#nexmoe-header .nexmoe-count .nexmoe-count-item .item-radius {
  position: absolute;
  left: 5px;
  top: -3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e67249;
}
#nexmoe-header .nexmoe-count .nexmoe-count-item .item-right {
  left: auto;
  right: 5px;
}
#nexmoe-header .nexmoe-count .nexmoe-count-item span {
  color: #fff;
}
#nexmoe-header .nexmoe-list .nexmoe-list-item.active {
  background-color: #e67249;
  box-shadow: 0 2px 12px #e67249;
}
#nexmoe-header .nexmoe-search input {
  width: 100%;
}
#nexmoe-header #local-search-result .search-result-list {
  position: absolute;
  z-index: 33;
  top: 48px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  box-shadow: 0 19px 40px #e67249;
  border-top: 1px solid #fff;
  animation: anim 0.5s;
}
#nexmoe-header #local-search-result .search-result-list .search-result-list-item {
  box-sizing: border-box;
  padding: 15px 0;
  margin: 0 10px;
  border-bottom: 1px solid #ccc;
}
#nexmoe-header #local-search-result .search-result-list .search-result-list-item:last-child {
  border-bottom: 0;
}
#nexmoe-header #local-search-result .search-result-list .search-result-list-item a {
  color: #333;
}
#nexmoe-header #local-search-result .search-result-list .search-result-list-item a:hover {
  color: #e67249;
}
@-moz-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#nexmoe-header .nexmoe-widget-wrap {
  position: relative;
  overflow: inherit;
}
#nexmoe-header .nexmoe-widget-wrap .nexmoe-widget .category-list-count {
  color: #e67249;
  background-color: #f8e6d8;
}
#nexmoe-header .nexmoe-widget-wrap .nexmoe-widget .archive-list-count {
  color: #e67249;
}
#nexmoe-header .nexmoe-copyright a {
  color: #e67249;
}
article a {
  color: #e67249;
}
article h2:after {
  background: #e67249;
  box-shadow: 0 2px 12px #e67249;
}
article ol li::before {
  color: #e67249;
  background-color: #f8e6d8;
}
.nexmoe-archives li::before {
  background: #e67249;
}
.nexmoe-rainbow a:nth-child(7n+1) {
  background: #f8e6d8;
  color: #e67249;
}
#nexmoe-content .nexmoe-post .nexmoe-py .aplayer {
  background-image: url("https://cdn.jsdelivr.net/gh/tangyuxian/blog_image@master/background/chichi.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
#nexmoe-content .nexmoe-post .nexmoe-py p em {
  color: #e67249;
  font-size: 17px;
}
#nexmoe-content .nexmoe-post .nexmoe-comment .v a::before {
  background: #e67249;
}
#nexmoe-content .nexmoe-post .nexmoe-comment .v .veditor {
  background-image: url("https://cdn.jsdelivr.net/gh/tangyuxian/blog_image@master/background/papa.jpg");
  background-position: right;
  background-size: auto 8.75em;
  background-repeat: no-repeat;
  background-color: #fff;
}
#nexmoe-content .nexmoe-post .nexmoe-comment .v .vlist .vcard .vhead .vnick {
  color: #e67249;
}
#nexmoe-content .nexmoe-post .nexmoe-comment .v .vlist .vcard .vhead .vnick::before {
  background: #e67249;
}
#nexmoe-content .nexmoe-post .nexmoe-comment .v button {
  background: #f8e6d8;
  color: #e67249;
}
#nexmoe-content .nexmoe-post .nexmoe-comment .v button:hover {
  background: #e67249;
  color: #fff;
  border-color: #e67249;
}
#nexmoe-content .nexmoe-post .nexmoe-comment .v .vcontrol .col-20 a {
  display: none;
}
#nexmoe-content .nexmoe-post .nexmoe-comment .v .info {
  display: none;
}
#nexmoe-content .nexmoe-post .nexmoe-post-copyright a {
  color: #e67249;
}
#nexmoe-content .nexmoe-primary .nexmoe-page-nav .current {
  background: #e67249;
  box-shadow: 0 2px 12px #f8e6d8;
}
#daodream-container .daodream-launcher {
  right: 60px !important;
  bottom: 60px !important;
}
#daodream-container .daodream-powered-by {
  display: none;
}
#daodream-container .daodream-sheet-header {
  background-image: linear-gradient(0deg, #f8e6d8, #f8e6d8) !important;
  box-shadow: 0 1px 0 0 #f8e6d8, 0 1px 2px 0 #f8e6d8 !important;
  color: #e67249;
}
#daodream-container .daodream-sheet-header .daodream-sheet-header-generic-title {
  color: #e67249;
  font-weight: bold;
}
#daodream-container .daodream-composer-textarea textarea {
  color: #e67249 !important;
}
#daodream-container .daodream-composer-textarea textarea:focus {
  outline: none;
  border: 1px solid #e67249 !important;
}
#daodream-container .daodream-composer-send-button {
  background-image: linear-gradient(180deg, #e67249, #e67249) !important;
  background: #e67249 !important;
}
#daodream-container .daodream-conversations-item-user-avatar {
  background-color: #e67249 !important;
}
#daodream-container .daodream-conversations-new-conversation-button {
  background-image: linear-gradient(180deg, #e67249, #e67249) !important;
  background: #e67249 !important;
}
#daodream-container .daodream-comment-card .notification-input {
  border: 1px solid #e67249 !important;
}
#daodream-container .daodream-comment-card .notification-submit {
  background-color: #e67249 !important;
}
#daodream-container .daodream-comment-card .daodream-comment-avatar {
  content: url("https://cdn.jsdelivr.net/gh/tangyuxian/blog_image@latest/head/head.jpg") !important;
}
#daodream-container .daodream-comment-by-user .daodream-comment-body-container {
  background-color: #e67249 !important;
}
#daodream-container .daodream-comment-by-user .daodream-comment-caret:before {
  background-color: #e67249 !important;
}
#daodream-container .daodream-sheet-spinner {
  border-radius: 50% !important;
  overflow: hidden;
  background-image: url("https://cdn.jsdelivr.net/gh/tangyuxian/blog_image@latest/head/call.jpg") !important;
}
#daodream-container .daodream-launcher-button {
  width: 80px !important;
  height: 80px !important;
  background-color: #e67249 !important;
  background-image: url("https://cdn.jsdelivr.net/gh/tangyuxian/blog_image@latest/head/call.jpg") !important;
  background-size: 100% 100% !important;
  border-radius: 50% !important;
  animation: mybutton 8s;
}
@-moz-keyframes mybutton {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes mybutton {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes mybutton {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes mybutton {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 1024px) {
  .live2d-widget-container {
    display: none;
  }
  #nexmoe-background .nexmoe-small {
    display: none;
  }
  #daodream-container .daodream-launcher {
    right: 20px !important;
    bottom: 20px !important;
  }
  #daodream-container .daodream-launcher-button {
    width: 48px !important;
    height: 48px !important;
  }
}
